@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOutToRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.8s;
}

.slide-in-from-right {
    animation: slideInFromRight 0.5s;
}

.slide-out-to-right {
    animation: slideOutToRight 0.5s;
}

body {
    font-family: Helvetica;
    font-size: 12pt;
    margin-left: 0;
    margin-right: 0;
    color: #444;
}

body a {
    text-decoration: none;
    color: #27a3de;
}

body a:hover {
    text-decoration: underline;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    border-bottom: 1px solid #CCC;
    z-index: 100;
    position: fixed;
}

.navbar a {
    color: #444;
}

.navbar-menu {  
    display: flex;
    text-align: right;
    padding-right: 1em;
    font-size: 140%;
    gap: 1.4em;
}

.navbar-logo {
    padding-left: 1em;
    display: flex;
    position: left;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1em;
}

.navbar-logo img {
    height: 60px;
}

.navbar-logo h1 {
    font-size: 200%;
    margin: 0;
    padding: 0;
}

.navbar-logo h1 {
    font-size: 200%;
    margin: 0;
    padding: 0;
}

.navbar-entry {
    display: inline-block;
    position: left;
}

.mobile-navbar-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    /* height should be screen height - 74px */
    height: 100vh;
    background: #FFF;
    border-bottom: 1px solid #CCC;
    z-index: 100;
    font-size: 140%;
    gap: 1.5em;
    position: fixed;
}

.mobile-navbar-menu a {
    color: #444;
}

.mobile-menu-icon {
    display: none;
}

@media (max-width: 1100px) {
    .mobile-menu-icon {
        display: block;
    }

    .navbar-entry {
        display: none;
    }
}

.title {
    padding-top: 0;
    margin-top: 0;
    font-size: 300%;
}

.subtitle {
    font-size: 120%;
    font-style: italic;
}

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-image img {
    margin: 5em;
    margin-top: 0px;
    margin-bottom: 14px;
    width: 65vw;
    border-radius: 10px;
}

@media (max-width: 1020px) {
    .main-image img {
        width: 90vw;
    }
}

.main-image img {
    animation: fadeIn 1s, slideInFromBottom 1s;
}

.main-text {
    font-size: 160%;
    line-height: 1.8;
    text-align: center;
    margin: 5vw;
    margin-top: 22px;
    margin-bottom: 22px;
}

.main-text {
    animation: fadeIn 1s, slideInFromTop 1s;
}

.large-text {
    font-size: 180%;
    line-height: 1.8;
    text-align: center; 
    margin: 100px 5vw 0 5vw;
}

.grant-acknowledgement {
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 120%;
    gap: 1em;
    margin: 0 2em;
}

.grant-acknowledgement img {
    float: right;
    padding-bottom: 2rem;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.card {
    border: 1px solid #CCC;
    border-radius: 10px;
    background: #FFF;
    width: 100%;
}

.card-image {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-text {
    margin: 1em;
}

.text-box {
    margin: 2em;
    padding: 0.5em 2em 0.5em 2em;
    border: 1px solid #CCC;
    border-radius: 10px;
    background: #FFF;
    font-size: 120%;
}

.citation {
    margin: 2em 2em 0 2em;
    padding: 0.5em 1em 1em 1em;
    border: 1px solid #CCC;
    border-radius: 10px;
    background: #FFF;
    font-size: 110%;
    display: flex;
    flex-direction: column;
}

.citation .bibtex {
    display: none;
    overflow: auto;
    font-size: 80%;
    background: #dbdada6a;
    padding: 1em;
    border-radius: 5px;
}

.citation .bibtex-button {
    text-align: right;
    font-size: 80%;
    align-self: flex-end;
    display: inline-block;
    padding: 0.5em 1em;
    margin-top: 1em;
    background: #27a3de;
    color: white;
    border-width: 0;
    border-radius: 5px;
    text-align: center;
}

.button-container {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1.4em;
}

.large-button {
    display: inline-block;
    padding: 0.5em 1em;
    background: #27a3de;
    color: white;
    border-width: 0;
    border-radius: 5px;
    text-align: center;
    font-size: 140%;
}

.large-button {
    animation: fadeIn 2s, slideInFromBottom 1s;
}

.large-button:hover {
    background: #1b7f9e;
    transition: background 0.4s;
}
